
body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #0F0C0C;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

header {
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    justify-content: center;
    position : fixed;
    top: 0;
    margin: 0;
    width: 100%;
    z-index: 15;
}

nav {
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    background-color: #0F0C0C;
    color: #fff;
    padding: 20px 60px 20px 60px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    margin: 0;

}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex:1;
}

.logo-container img {
    width: 150px;
    height: auto;
}

.menu-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex:1;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
}

nav .pfp {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

form.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1.15;

}

form.search-container input {
    width: 88%;
    height: 40px;
    padding: 5px;
    border: none;
    font-size: 1.1em;
    border-radius: 5px 0 0 5px;
}

form.search-container button {
    width: 12%;
    height: 40px;
    border: none;
    background-color: #121212;
    color: #fff;
    font-size: 1.1em;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 60%;
    background-color: #0F0C0C;
    color: #fff;
    justify-content: center;
    z-index: 5;
  }

section {
    width: 640px;
}

.create-post {
    background-color: #121212;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.create-post .image-container img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}

.create-post .post-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    margin-bottom: 20px;
}

#char-count {
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    text-align: right;

}

.create-post textarea {
    width: 100%;
    background-color: #121212;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px solid #ccc;
}

.create-post .image-container input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.buttons-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

article .buttons-container {
    width: 512px;
    margin: auto;
    
}

button{
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #121212;
    border: 0;
    cursor: pointer;
}

.create-post .buttons-container button:first-child {
    margin-left: 0;
  }
  
  .create-post .buttons-container button:last-child {
    margin-left: auto;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 35px;
}


article {
    background-color: #121212;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
}

.user-info-post {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}


.user-info-post img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info-post p:last-child {
    margin-left: auto;
}


article h2 {
    margin-top: 0;
}

article p {
    margin-bottom: 20px;
}

article img {
    max-height: 512px;
    max-width: 512px;
}

article video {
    max-height: 512px;
    max-width: 512px;
    object-fit: contain;
    justify-content: center;
    
}

article iframe {
    object-fit: contain;
    justify-content: center;
    
}

.media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}



aside.left-aside, aside.right-aside {
    flex-basis: 20%;
    background-color: #121212;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  }
aside h3 {
    margin-top: 0;
    width: 90%;
}

aside.left-aside{
    margin: 20px 0 20px 120px;
    height: fit-content;
}
aside.right-aside{
    margin: 20px 120px 20px 0;
    height: fit-content;
}

.menu-lateral {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 90%;
    
}


.menu-lateral li {
    margin-bottom: 20px;
    width: 80%;
}

.menu-lateral li button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #121212;
    color: #fff;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.perfiles-sugeridos {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 90%;
    
}

.perfil-sugerido{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
    
    
}

.perfil-sugerido img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.perfil-sugerido button {
    margin-left: auto;
    color: #00b3ff;
}

footer {
    background-color: #121212;
    color: #fff;
    padding: 20px 0 10px 0;
    text-align: center;
    width: 100%;
    margin-left: 0;
}

footer img {
    height: 50px;
}

@media only screen and (max-width: 1600px) {
    
    aside.left-aside{
        margin: 20px 0 20px 50px;
    }
    aside.right-aside{
        margin: 20px 50px 20px 0;
    }
}

@media only screen and (max-width: 1279px) {

    body {
        width: 100%;
        height: 100%;
        margin: 75px 0 0 0;
        padding: 0;
        overflow: auto;
        justify-content: center;

    }

    nav{
        padding: 10px;
    }
    
    header{
        position : fixed;
        top: 0;
        height: 75px;


    }

    header,.container {
        box-sizing: border-box;
        width: 100%;
    }

    form.search-container {
        display: none;
    }

    .container{
        margin-top: 0;
    }
    main{
        flex:1;
        display: flex  ;
        box-sizing: border-box;
        
    }
    
    footer{display: none;}

    aside.right-aside{
        display: none;
    }

    aside.left-aside {
        position: fixed;
        width: 45px;
        margin-top: 0;
        margin-left: 0;
        left: 0; 
        height: 100%; 
        border-radius: 0;
        border-right: 1px solid rgb(255, 255, 255, 0.1);
        z-index: 15;
    }

    .menu-lateral li button {
        width: 100%;
        height: 40px;
        border: none;
        background-color: #121212;
        color: #fff;
        font-size: 0; 
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }

    .menu-lateral li button img {
        height: 80%;
    }

}

@media only screen and (max-width: 850px) {
    nav{
        padding: 10px;
    }
    
    header{
        position : fixed;
        top: 0;
        height: 75px;


    }

    header,.container {
        box-sizing: border-box;
        width: 100%;
    }


    body {
        width: 100%;
        height: 100%;
        margin: 75px 0 0 0;
        padding: 0;
        overflow: auto;
        justify-content: center;

    }

    section{
        margin-left: 80px;
    }

}

@media only screen and (max-width: 450px) {
    

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    header{
        height: 60px;
    }

    nav{
        padding: 20px;
        height: 100%;
    }
    
    nav .logo-container img{
        height: 35px;
        width: auto;
    }

    header,.container {
        box-sizing: border-box;
        width: 100%;
    }

    main{
        flex-basis: 100%;
        display: flex  ;
        width: 100%;
        box-sizing: border-box;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    footer{display: none;}

    img.pfp,
    .create-post .image-container img,
    .user-info-post img{
        width: 40px;
        height: 40px;
    }
    nav .search-container {
        display: none;
    }

    #nombre-usuario {
        display: none;
    }



    section{
        margin: 0;
        flex-basis: 100%;
        box-sizing: border-box  ;
        width: 100%;
    }

    .create-post{
        margin-bottom: 2px;
        background-color: #0F0C0C;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: none;
        border-radius: 0;
        margin: 0 5px 0 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .create-post .post-container,
    .create-post .image-container,
    .create-post textarea,
    .create-post .buttons-container button,
    article .buttons-container button{
    
        background-color: #0F0C0C;
    }

    article{
        margin-bottom: 2px;
        background-color: #0F0C0C;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: none;
        border-radius: 0;

    }

    article img {
        max-height:100%;
        max-width:100%;
    }
    
    article video {
        max-height:100%;
        max-width:100%;
        object-fit: contain;
        justify-content: center;
        
    }

    article p{
        font-size: small;
    }

    div.buttons-container{
        width: 100%;
        height: 30px;
    }

    #char-count{
        margin-bottom: 10px;
    }

    div.buttons-container img{
        width: 20px;
        height: 20px;
    }

    aside.right-aside{
        display: none;
    }


    aside.left-aside {
        box-sizing: border-box;
        position: fixed; 
        bottom: 0; 
        padding: 0;
        margin-bottom: 0;
        left: 0; 
        width: 100%; 
        height: auto; 
        z-index: 15;
    }

    .menu-lateral{
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        height: 100%;
        justify-content: center;
        align-items: center;

    }

    .menu-lateral li{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 5px;
    }
    .menu-lateral button{

        font-size: 0;
        justify-content: center;
    }

    
}