/* Set default font and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Style the navigation menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img:first-child {
    margin-right: auto;
    flex: 1;
  }

  
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 1px solid #ccc2;
    justify-content: flex-end;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

form.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 1px solid #ccc;
    flex: 1;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Style the main content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 60%;
    background-color: #ab0000;
    justify-content: center;
  }

section {
    flex-basis: 85%;
    border: 1px solid #ccc;
}

.create-post {
    background-color: #4f4f4f;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.create-post .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.create-post .post-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid #0024b5;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.create-post textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.create-post .buttons-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #d32a2a;
}

.buttons-container button:first-child {
    margin-left: 0;
  }
  
  .buttons-container button:last-child {
    margin-left: auto;
  }


article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

article h2 {
    margin-top: 0;
}

article p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

aside.left-aside, aside.right-aside {
    flex-basis: 20%;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
aside h3 {
    margin-top: 0;
}

ul.perfiles-sugeridos {
    list-style: none;
}

li.perfil-sugerido{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}